@use "../globals/colors" as *;

:root {
  @each $color, $shades in $colors {
    @each $shade, $value in $shades {
      --clr-#{$color}-#{$shade}: #{$value};
    }
  }
}
.display-sm-none{
  display: none;
}
@media (min-width:50em) {
  .display-md-inline-flex {
    display: inline-flex;
    place-items: center;
    place-content: center;
  }
}
