:root {
  --textcolor: hsl(228, 39%, 23%);
  --buttoncolor: hsl(12, 88%, 59%);
  --buttontextcolor: hsl(0, 0%, 98%);
  --paragraphcolor: hsl(227, 12%, 61%);
  --morebackgroundcolor: hsl(13, 100%, 96%);
  --footer: hsl(233, 12%, 13%);
}
