$colors: (
  primary: (
    1: hsl(12, 88%, 59%),
    2: hsl(228, 39%, 23%),
  ),
  Neutral: (
    1: hsl(227, 12%, 61%),
    2: hsl(233, 12%, 13%),
    3: hsl(13, 100%, 96%),
    4: hsl(0, 0%, 98%),
  ),
);
